<section>
    <p *ngIf="!noteExist">Crea tu primera nota!!</p>
    <form *ngIf="noteExist" class="search-form">
        <span>Buscar notas por:</span>
        <input type="text" name="search" placeholder="Título o descripción" [(ngModel)]="search"/>
        <span>Fechas entre:</span>
        <input type="date" name="start-date" [(ngModel)]="startDate">
        <input type="date" name="end-date" [(ngModel)]="endDate">
      </form>
      
  
    <form class="note-form" (ngSubmit)="addNote()">
        <label for="title">Título:</label>
        <input type="text" id="title" [(ngModel)]="note.title" name="title" required />
  
        <label for="desc">Descripción:</label>
        <textarea id="desc" [(ngModel)]="note.desc" name="desc" required></textarea>
  
        <label for="date">Fecha:</label>
        <input type="date" [(ngModel)]="note.date" id = "date" name="date" required />
  
        <button type="submit" [disabled]="!note.title || !note.desc || !note.date">Añadir Nota</button>
    </form>
  
    <div class="notes">
      @for (note of filterednotes; track note.id) {
        <div class="note-card">
          <h3>{{ note.title }}</h3>
          <p>{{ note.desc }}</p>
          <small>{{ note.date }}</small>
        </div>
      }
    </div>
</section>